* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
}

/* Header**/
header {
    display: flex;
    width: 100%;
    background-color: rgb(41, 48, 53);
    color: white;
    padding:2rem 0;
}

header .col-1 {
    padding-left: 100px;
    width: 60%;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

header .col-2 {
    width: 40%;
}

header ul li {
    display: inline;
    margin: 5px 10px;
}

header ul li a {
    color: white;
    font-size: 0.9rem;
}

header .header-text {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Section 1 **/

section.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(41, 48, 53);
    color: white;
    padding: 120px 0px 130px;
}

section.section1 .row {
    display: flex;
    width: 80%;
}


section.section1 .col-1 {
    width: 50%;
    padding: 0px 30px;
}

section.section1 .col-2 {
    width: 50%;
}

section.section1 .col-1 h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.4rem;
    padding-right: 100px;
}

section.section1 .col-1 p {
    font-size: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

 button {
    background-color: rgb(57, 113, 255);
    color: white;
    width: 120px;
    border: unset;
    border-radius: 7px;
    padding: 8px;
    margin: 10px 0px;
}

section.section1 .image {
    display: inline-block;
    width: 90%;
    height: 200px;
    background-color: rgb(142, 142, 142);
}


/*Section 0 **/

section.section0 {
    width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 1.9rem;
}

section.section0 h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}



/*Section 1 **/
section.section2 {
    width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

section.section2  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

section.section2  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

section.section2 .box {
    width: 200px;
    height: 200px;
    border: 5px solid rgb(57, 113, 255);
    border-radius: 15px;
 
}
section.section2 p{
    width: 200px;
   font-size: 0.8rem;
}
/* Section 3**/

section.section3  {
    background-color: rgb(232, 232, 232);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 80px 0px;
}

.text-box {
    width: 50%;
    font-size: 1.7rem;
}

section.section3  h4 {
    margin-top: 10px;
    text-align: right;
}

/* Section 4**/
section.section4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 60px 0px;
}

section.section4 .row {
    width: 65%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(57, 113, 255);
    color: white;
    padding: 55px 70px;
    border-radius: 10px;
}



section.section4 button {
    border: 2px solid white;

}

/* Footer **/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(41, 48, 53);
    color: white;
    padding: 30px 0px;
}


@media(max-width:1040px) {
    header {
        flex-direction: column;
        padding-bottom: 0;
    }
    section.section1 {
        padding-top: 50px;
    }
    section.section1 .col-1 {
        padding: 40px 30px;
    }
    section.section2 .grid-container {

        grid-template-columns: auto auto;

    } 
 
    header .col-1 {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .col-2 {
        width: 100%;
        padding: 20px 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    section.section1 .row{
        width: 80%;
        flex-direction: column-reverse;
    }
   
    section.section1 .row .col-1{
        width: 100%;
    }
    section.section1 .row .col-2{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    section.section1 .row .image{
        width: 100%;
    }
    .text-box {
        width: 70%;
    }
    section.section4 .row {
        width: 80%;
      
    }
}
@media(max-width:530px){
    *{
        margin: 0;
        font-size: 15px;
    }
    section.section2 .grid-container {
  
        grid-template-columns: auto ;
    
    } 
}